# Project-specific ignore patterns

# IntelliJ IDEA
*.iml
.idea/

# Gradle build
.gradle

# Local properties
/local.properties

# macOS specific
.DS_Store

# Build output directories
/build
/captures
.externalNativeBuild
.cxx